# Server
HOST=0.0.0.0
PORT=1337
PUBLIC_URL=http://strapi:1337

# Secrets
ADMIN_JWT_SECRET=tobemodified
API_TOKEN_SALT=tobemodified
APP_KEYS="toBeModified1,toBeModified2"
ENCRYPTION_KEY=tobemodified
JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified

# Database
DATABASE_CLIENT=tobemodified
DATABASE_HOST=tobemodified
DATABASE_PORT=tobemodified
DATABASE_NAME=tobemodified
DATABASE_USERNAME=tobemodified
DATABASE_PASSWORD=tobemodified
DATABASE_SSL=tobemodified
DATABASE_FILENAME=tobemodified